extends layout

block content
	div(id="main-container" class="well")	
		h1 All Users
		ul(class= "nav nav-list")
			each user in users
				li Name: #{user.name} and Username: (#{user.username})
		a(href="/") Back Home